*.DS*
.Rproj.user
private
.Rhistory

# ignore large files
*.pdf
*.png

!hoehn_kolloquium_foliensatz_final.pdf

# ignore knitter's temporary files
^(paper|slides).*\.(log|aux|lof|lot|tex|toc)$
slides.log
slides.log

slides.aux
slides.knit.md
slides.nav
slides.snm
slides.tex
slides.toc
